.Button {
    cursor: pointer;
    &:active {
        transform: scale(1.05);
    }
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
}

.default {
    @extend .clear;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    padding: 8px;
    color: var(--primary-color);
}

.default-disabled {
    @extend .clear;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    padding: 8px;
    background: var(--primary-color);
}