.NavBar {
    height: 50px;
    background-color: var(--bars-bg-color);
    display: flex;
    align-items: center;
    justify-content: right;
    a {
        color: var(--bars-color);
        text-decoration: none;
        margin: 0 10px;
    }
}
