.AdminCategoriesList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.titlesContainer {
    display: flex;
    gap: 20px;
}

.index {
    width: 24px;
}

.id {
    width: 24px;
}

.img {
    width: 120px;
    text-align: center;
}

.title {
    width: 200px;
}
